# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_hrk9001_LEFT
    def_bool $(shields_list_contains,hrk9001_left)

config SHIELD_hrk9001_RIGHT
    def_bool $(shields_list_contains,hrk9001_right)
